<footer class="justify-center p-10 mt-10 footer bg-neutral">
  <a
    href="https://github.com/semanticdata/ximena#README"
    class="underline link link-hover"
    >View on GitHub</a
  >
  <a href="https://marcamos-jet.netlify.com/" class="underline link link-hover"
    >View on Netlify</a
  >
</footer>
