<footer class="justify-center p-10 mt-10 footer text-lg">
  <a href="/about" class="underline link link-hover">About</a>
  <a href="/blog" class="underline link link-hover">Blog</a>
  <a href="/notes" class="underline link link-hover">Notes</a>
  <a
    href="https://github.com/semanticdata/ximena#README"
    class="underline link link-hover"
    >GitHub</a
  >
</footer>
