<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{metadata.title}}{% if title %} - {{title}} {% endif %}</title>
<meta
  name="description"
  content="{% if description %}
        {{description}}
      {% else %}
        {{metadata.description}}
      {% endif %}"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}"
/>
<link
  rel="manifest"
  href="{{ '/assets/images/favicon/site.webmanifest' | url }}"
/>
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{{ '/assets/images/favicon/favicon.ico' | url }}"
/>
<link rel="stylesheet" href="{{ '/assets/css/tailwindy.css' | url }}" />
<link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" />
