<!DOCTYPE html>
<html lang="en" class="bg-slate-50 dark:bg-custom-1">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{metadata.title}}{% if title %} - {{title}} {% endif %}</title>
    <meta
      name="description"
      content="{% if description %}
        {{description}}
      {% else %}
        {{metadata.description}}
      {% endif %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}"
    />
    <link
      rel="manifest"
      href="{{ '/assets/images/favicon/site.webmanifest' | url }}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ '/assets/images/favicon/favicon.ico' | url }}"
    />
    <link rel="stylesheet" href="{{ '/assets/css/tailwindy.css' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/prism-prism-tomorrow.css' | url }}" />
    <script>
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark")
      } else {
        document.documentElement.classList.remove("dark")
      }
    </script>
  </head>

  <body>
    <div class="max-w-2xl mx-auto">
      <header class="px-4 my-6">
        <h1 class="text-2xl font-bold underline">
          <a href="{{ '/' | url }}">{{metadata.title}}</a>
        </h1>
        {% include "darkModeToggle.njk" %}
      </header>

      <main class="px-4 my-6">
        <article class="mt-12 prose prose-article">
          {{ content | safe }}
        </article>
      </main>

      {# {% include "footer.njk" %} #}

      <script>
        var themeToggleDarkIcon = document.getElementById(
          "theme-toggle-dark-icon"
        )
        var themeToggleLightIcon = document.getElementById(
          "theme-toggle-light-icon"
        )

        // Change the icons inside the button based on previous settings
        if (
          localStorage.getItem("color-theme") === "dark" ||
          (!("color-theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          themeToggleLightIcon.classList.remove("hidden")
        } else {
          themeToggleDarkIcon.classList.remove("hidden")
        }

        var themeToggleBtn = document.getElementById("theme-toggle")

        themeToggleBtn.addEventListener("click", function () {
          // toggle icons inside button
          themeToggleDarkIcon.classList.toggle("hidden")
          themeToggleLightIcon.classList.toggle("hidden")

          // if set via local storage previously
          if (localStorage.getItem("color-theme")) {
            if (localStorage.getItem("color-theme") === "light") {
              document.documentElement.classList.add("dark")
              localStorage.setItem("color-theme", "dark")
            } else {
              document.documentElement.classList.remove("dark")
              localStorage.setItem("color-theme", "light")
            }

            // if NOT set via local storage previously
          } else {
            if (document.documentElement.classList.contains("dark")) {
              document.documentElement.classList.remove("dark")
              localStorage.setItem("color-theme", "light")
            } else {
              document.documentElement.classList.add("dark")
              localStorage.setItem("color-theme", "dark")
            }
          }
        })
      </script>
      <script type="module" src="{{ '/assets/js/script.js' | url }}"></script>
    </div>
  </body>
</html>
