<!DOCTYPE html>
<html lang="en" class="bg-slate-50 dark:bg-slate-900 text-slate-950 dark:text-slate-50">
  <head>
    {% include "meta.njk" %} {% include "head-script.njk" %}
  </head>

  <body>
    <div class="max-w-2xl mx-auto">
      <header class="inline-flex px-4 my-6">
        <h1 class="text-2xl font-bold underline">
          <a href="{{ '/' | url }}">{{metadata.title}}</a>
        </h1>
        {% include "darkModeToggle.njk" %}
      </header>

      <main class="px-4 my-6">
        <article
          {#
          class="mt-12 prose prose-slate dark:prose-p:text-slate-50 prose-p:text-slate-900 dark:prose-headings:text-slate-50 prose-headings:text-slate-900 prose-li:text-slate-900 dark:prose-li:text-slate-50"
          #}
          class="mt-10 prose prose-slate dark:prose-invert bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-50"
        >
          {{ content | safe }}
        </article>
      </main>

      {# {% include "footer.njk" %} #}

      <script
        nonce="rAnd0m123"
        type="module"
        src="{{ '/assets/js/script.js' | url }}"
      ></script>
    </div>
  </body>
</html>
