<!DOCTYPE html>
<html lang="en" class="bg-slate-50 dark:bg-slate-900">
  <head>
    {% include "meta.njk" %} {% include "head-script.njk" %}
  </head>

  <body>
    <main class="min-h-screen hero">
      <div class="hero-content">
        <article class="prose">{{ content | safe }}</article>
      </div>
    </main>
    {% include "darkModeToggle.njk" %}
    <script
      nonce="rAnd0m123"
      type="module"
      src="{{ '/assets/js/script.js' | url }}"
    ></script>
  </body>
</html>
