<!DOCTYPE html>
<html lang="en" class="bg-slate-50 dark:bg-custom-1">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{metadata.title}}{% if title %} - {{title}} {% endif %}</title>
    <meta
      name="description"
      content="{% if description %}
        {{description}}
      {% else %}
        {{metadata.description}}
      {% endif %}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}"
    />
    <link
      rel="manifest"
      href="{{ '/assets/images/favicon/site.webmanifest' | url }}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ '/assets/images/favicon/favicon.ico' | url }}"
    />
    <link rel="stylesheet" href="{{ '/assets/css/tailwindy.css' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" />
    <script nonce="rAnd0m123">
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark")
      } else {
        document.documentElement.classList.remove("dark")
      }
    </script>
  </head>

  <body>
    <main class="min-h-screen hero">
      <div class="hero-content">
        <article class="prose prose-article">{{ content | safe }}</article>
      </div>
    </main>
    <script type="module" src="{{ '/assets/js/script.js' | url }}"></script>
  </body>
</html>
