:root {
    --bg-color: #fff;
    --bg-color-dark: #000;
    --txt-color: #1a1a1a;
    --txt-color-dark: #fff;
    --primaryColor: #7134ff;
    --font-family: Georgia, 'Times New Roman', serif;
    --container-width: 50rem;
}

// basic support for dark color scheme
// @media (prefers-color-scheme: dark) {
//     :root {
//         --color-mode: 'dark';
//     }

//     :root:not([data-user-color-scheme]) {
//         --bg-color: #1a1a1a;
//         --txt-color: #eeeeee;
//         --primaryColor: #a15cff;
//     }
// }

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--primaryColor);
    color: var(--txt-color-dark);
}

// html.dark {
// 	background: var(--bg-color-dark);
// 	color: var(--txt-color-dark);
// }

body {
    // background: var(--bg-color);
    // color: var(--txt-color);
    font-family: var(--font-family);
    font-size: large;
    line-height: 1.5;
    overflow-x: hidden;
    height: calc(100vh - 1.5rem);
}

footer {
    margin-top: auto;
    text-align: center;
}

// .container {
//   width: 100%;
//   margin: 0 auto;
//   max-width: var(--container-max-width);
//   padding: 2rem 1rem; // fallback
//   padding: 1rem clamp(var(--spacing-small), 3.75vw, var(--spacing-medium));
// }

header,
main {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 1rem;
}
