---
layout: tail
title: Blog
---

<h1 class="post-title">{{ title }}</h1>

{{content|safe}}

{% set postslist = collections.posts %}

<ul>
    {% for post in postslist | reverse %}
        <li>
            <a href="{{ post.url | url }}">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    <code>{{ post.url }}</code>
                {% endif %}
            </a>
            <br />
            <time datetime="{{ post.date }}">{{ post.date }}</time>
        </li>
    {% endfor %}
</ul>
