<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{metadata.title}}{% if title %} - {{title}} {% endif %}</title>
    <meta
      name="description"
      content="{% if description %}
        {{description}}
      {% else %}
        {{metadata.description}}
      {% endif %}"
    />
    <link rel="stylesheet" href="/assets/css/tailwindy.css" />
  </head>

  <body>
    <main class="min-h-screen hero">
      <div class="hero-content">
        <article class="prose prose-article">{{ content | safe }}</article>
      </div>
    </main>
    <script type="module" src="{{ '/assets/js/script.js' | url }}"></script>
  </body>
</html>
