<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta.title}}{% if title %} - {{title}} {% endif %}</title>
    <meta
      name="description"
      content="{% if description %}
        {{description}}
      {% else %}
        {{meta.description}}
      {% endif %}"
    />
    <link rel="stylesheet" href="{{ '/assets/css/tailwindy.css' | url }}" />
  </head>

  <body class="max-w-2xl mx-auto">
    <header class="px-4 my-6">
      <h1 class="text-2xl font-bold underline">
        <a href="{{ '/' | url }}">{{meta.title}}</a>
      </h1>
    </header>

    <main class="px-4 my-6">
      <article class="mt-12 prose prose-article">{{ content | safe }}</article>
    </main>

    {% include "footer.njk" %}

    <script type="module" src="{{ '/assets/js/script.js' | url }}"></script>
  </body>
</html>
