<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta.title}}{% if title %} - {{title}} {% endif %}</title>
    <meta
      name="description"
      content="{% if description %}
        {{description}}
      {% else %}
        {{meta.description}}
      {% endif %}"
    />
    <link rel="stylesheet" href="{{ '/assets/css/tailwindy.css' | url }}" />
  </head>
  <body>
    <header>
      <h1 class="text-3xl font-bold text-center underline">Site Title</h1>
    </header>
    <main class="max-w-lg px-4 mx-auto mt-6 text-center">
      <h1 class="text-3xl font-semibold">
        It’s (j)ust (e)leventy and (t)ailwind
      </h1>
      <p>…OK, and a few other things; it's still *really* small though.</p>
      <p class="flex items-center justify-center max-w-md px-4 mx-auto mt-6">
        <a href="https://11ty.dev/" class="inline-block mr-6 bg-gray-900"
          ><img src="img/11ty.svg" alt="Eleventy" class="h-24"
        /></a>
        and
        <a href="https://tailwindcss.com/" class="ml-6"
          ><img src="img/tailwindcss.svg" alt="Tailwind CSS" class="w-64"
        /></a>
      </p>
      <p class="flex justify-center max-w-md mx-auto mt-16">
        <a href="https://github.com/marcamos/jet#readme" class="mr-6 underline"
          >View on GitHub</a
        >
        <a href="https://marcamos-jet.netlify.com/" class="underline"
          >View on Netlify</a
        >
      </p>

      {# {{ content | safe }} #}
    </main>
    {% include 'footer.njk' %}
    <script type="module" src="{{ '/assets/js/script.js' | url }}"></script>
  </body>
</html>
