name: Build and Test (npm)

on:
  workflow_dispatch:
  pull_request:
  # push:
  #   branches:
  #     - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout
        with:
          fetch-depth: 0 # Fetch all history for git info
      - uses: actions/setup-node@v4
        name: Setup Node
        with:
          node-version: 18
      - name: Install dependencies
        run: npm i
      - name: Build the site
        run: npm run build